<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        
        {% include logo.html %}


{% include navigation.html %}
 <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content with-bg-cover">
    <h1 class="notepad-blog-title">
        <span class="notepad-site-head-title-bg">
            {{ site.title }}
        </span>
    </h1>
    <h2 class="notepad-blog-description" style="text-transform: none;">
    <a href="{{ site.url }}/aboutme" >
    goost, the. </a> <br />
    creater of art made of bits and bytes <br />
    lover of Japan and cats
    </h2>
</div>
</header>